[Unit]
Description=daemon for weather sensors
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/debian/sensors/sensor_monitor.py
Environment="SENSOR_MONITOR_CONFIG=/home/debian/sensors/sensor_monitor.json"
Restart=on-failure
StartLimitInterval=10s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target


